/* You can add global styles to this file, and also import other style files */
html {
    --green: #1C9997;
}
html, body { height: 100%; background-color: #F6F6F6;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container { padding: 70px;}

.title {
    font-weight: bold !important;
    font-size: 25px !important;
}

.btn-create {
    background-color: var(--green);
    border: none;
}