<mat-toolbar class="header mat-elevation-z4">
    <a>
        <img class="logo" src="assets/img/daccord-logo.png" alt="logo-daccord">
    </a>
    <nav>
        <a>Dashboard</a>
        <a [matMenuTriggerFor]="menu">Lições</a>
        <mat-menu #menu="matMenu">
            <button style="font-family: 'Poppins', sans-serif !important;" mat-menu-item routerLink="/lesson">Listar</button>
            <button style="font-family: 'Poppins', sans-serif !important;" mat-menu-item routerLink="/lesson/create">Cadastrar</button>
        </mat-menu>
    </nav>
</mat-toolbar>