<div class="container">
    <div class="top-bar mb-5">
        <h1 class="title">Editar lição</h1>
        <div>
            <button type="button" class="btn btn-danger mr" routerLink="/lesson">Voltar</button>
            <button type="button" class="btn btn-create ml" (click)="editLesson()">Salvar</button>
        </div>
    </div>
    <form>
        <div class="card mb-5">
            <div class="card-header" style="background-color: #1c9997; color: white;">
                <h3 class="m0">Detalhes da lição</h3>
            </div>
            <div class="card-body">
                <div class="form-group mb">
                    <label for="title">Título:</label>
                    <input type="text" class="form-control" [(ngModel)]="lesson.title" name="title">
                </div>
                <div class="form-group mb">
                    <label for="description">Descrição:</label>
                    <input type="text" class="form-control" [(ngModel)]="lesson.description" name="description">
                </div>
                <div class="form-group mb">
                    <label for="formGroupExampleInput">Instrumento:</label>
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="lesson.instrument" name="instrument">
                        <option *ngFor="let instrument of instruments">{{instrument}}</option>                 
                    </select>
                </div>
                <div class="row mb">
                    <div class="col">
                        <label for="formGroupExampleInput">Gênero:</label>
                        <input type="text" class="form-control" [(ngModel)]="lesson.genre" name="genre">
                    </div>
                    <div class="col">
                        <label for="formGroupExampleInput">Autor:</label>
                        <input type="text" class="form-control" [(ngModel)]="lesson.author" name="author">
                    </div>
                </div>
                <div class="form-group mb">
                    <label for="formGroupExampleInput">Nível:</label>
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="lesson.level" name="level">
                        <option *ngFor="let level of levels">{{ level }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card mb-5">
            <div class="card-header" style="background-color: #1c9997; color: white;">
                <h3 class="m0">Artigo</h3>
            </div>
            <div class="card-body">
                <!-- <div class="format-group mb-3">
                    <label for="formGroupExampleInput">Arquivos:</label>
                    <input type="file" class="form-control" [(ngModel)]="lesson.article" name="article">
                </div> -->
                <div class="form-group mb">
                    <label for="formGroupExampleInput">Insira aqui o texto:</label>
                    <ckeditor name="myckeditor" debounce="300" [editor]="editor" [(ngModel)]="lesson.articleLegend" name="articleLegend"></ckeditor>
                </div>
            </div>
        </div>

        <div class="card mb-5">
            <div class="card-header" style="background-color: #1c9997; color: white;">
                <h3 class="m0">Vídeo-Aula</h3>
            </div>
            <div class="card-body">
                <div class="form-group mb">
                    <label for="formGroupExampleInput">Link:</label>
                    <input type="text" class="form-control" [(ngModel)]="lesson.linkVideo" name="linkVideo">
                </div>
                <div class="form-group mb">
                    <label for="formGroupExampleInput">Legenda:</label>
                    <ckeditor name="myckeditor" debounce="300" [editor]="editor" [(ngModel)]="lesson.videoLegend" name="videoLegend"></ckeditor>
                </div>
            </div>
        </div>
        <div class="card mb-5">
            <div class="card-header" style="background-color: #1c9997; color: white;">
                <h3 class="m0">Exercício de Performance</h3>
            </div>
            <div class="card-body">
                <!-- <div class="format-group mb-3">
                    <label for="formGroupExampleInput">Exercício de Performance:</label>
                    <input type="file" class="form-control" [(ngModel)]="lesson.performanceExercise" name="performanceExercise">
                </div> -->
                <div class="form-group mb">
                    <label for="formGroupExampleInput">Insira aqui o texto:</label>
                    <ckeditor name="myckeditor" debounce="300" [editor]="editor" [(ngModel)]="lesson.exerciseLegend" name="exerciseLegend"></ckeditor>
                </div>
            </div>
        </div>
        <!-- <div class="card mb-5">
            <div class="card-header" style="background-color: #1c9997; color: white;">
                <h3 class="m0">Quiz</h3>
            </div>
            <div class="card-body">
                <div class="form-group mb"
                    style="border: 1px solid #cecece; border-radius: 5px; padding: 20px">
                    <label for="formGroupExampleInput">Questão:</label>
                    <input type="text" class="form-control" id="formGroupExampleInput"
                        placeholder="Digite a pergunta aqui">
                    <div class="form-check alternative-box">
                        <input class="form-check-input" type="radio" name="alternative" id="alternative">
                        <input type="text" class="alternative form-control" placeholder="Digite a alternativa aqui">
                    </div>
                    <div class="form-check alternative-box">
                        <input class="form-check-input" type="radio" name="alternative" id="alternative"
                            checked>
                        <input type="text" class="alternative form-control" placeholder="Digite a alternativa aqui">
                    </div>
                    <div class="form-check alternative-box">
                        <input class="form-check-input" type="radio" name="alternative" id="alternative"
                            checked>
                        <input type="text" class="alternative form-control" placeholder="Digite a alternativa aqui">
                    </div>
                    <div class="form-check alternative-box">
                        <input class="form-check-input" type="radio" name="alternative" id="alternative"
                            checked>
                        <input type="text" class="alternative form-control" placeholder="Digite a alternativa aqui">
                    </div>
                </div>
            </div>
        </div> -->
    </form>
    <div>
      <button type="button" class="btn btn-danger mr" routerLink="/lesson">Voltar</button>
      <button type="button" class="btn btn-create ml" (click)="editLesson()">Salvar</button>
    </div>
</div>