<div class="container">    
    <div class="top-bar">      
        <h1 class="title">Catálogo</h1>  
        <div class="container-fluid search-box">
            <form class="d-flex">
            <input class="form-control me-2 search" type="search" placeholder="Pesquisar..." aria-label="Search">
            <button class="btn btn-outline-success search-btn" type="submit"><span class="material-icons">
                search
                </span></button>
            </form>
        </div>
        <button type="button" class="btn btn-primary btn-create">CRIAR</button>
    </div>
    <table class="table">
        <thead style="background-color: #1C9997; color: white;">
          <tr>
            <th scope="col">Lição</th>
            <th scope="col">Instrumento</th>
            <th scope="col">Nível</th>
          </tr>
        </thead>
        <tbody style="background-color: white;">
          <tr>
            <td>Lição 1</td>
            <td>Violão</td>
            <td>Fácil</td>
          </tr>
          <tr>
            <td>Lição 2</td>
            <td>Guitarra</td>
            <td>Médio</td>
          </tr>
          <tr>
            <td>Lição 3</td>
            <td>Piano</td>
            <td>Difícil</td>
          </tr>
        </tbody>
      </table>
</div>