<div class="container">    
    <div class="top-bar">      
        <h1 class="title">Catálogo</h1>  
        <div class="container-fluid search-box">
          <form class="d-flex">
            <input class="form-control me-2 search" type="search" placeholder="Pesquisar..." aria-label="Search">
            <button class="btn btn-outline-success search-btn" type="submit">
              <span class="material-icons">search</span>
            </button>
          </form>
        </div>
        <button type="button" class="btn btn-create" routerLink="/lesson/create">Criar</button>
    </div>
    <table class="table">
        <thead style="background-color: #1C9997; color: white;">
          <tr class="center">
            <th colspan="2" class="align-middle" scope="col">Lição</th>
            <th scope="col">
                <span style="margin-left:24px;">Instrumentos<i class="material-icons align-middle">expand_more</i></span>
            </th>
            <th scope="col">
                <span style="margin-left:24px;">Nível<i class="material-icons align-middle">expand_more</i></span>
            </th>
            <th>
              Ações
            </th>
          </tr>
        </thead>
        <tbody style="background-color: white;">
          <tr class="center">
            <td colspan="2">Lição 1</td>
            <td>Violão</td>
            <td>Fácil</td>
            <td>
                <span class="mr" class="material-icons">edit</span>
                <span class="ml" class="material-icons red">delete_outline</span>
            </td>
          </tr>
          <tr class="center">
            <td colspan="2">Lição 2</td>
            <td>Guitarra</td>
            <td>Médio</td>
            <td>
                <span class="mr" class="material-icons">edit</span>
                <span class="ml" class="material-icons red">delete_outline</span>
            </td>
          </tr>
          <tr class="center">
            <td colspan="2">Lição 3</td>
            <td>Piano</td>
            <td>Difícil</td>
            <td>
                <span class="mr" class="material-icons">edit</span>
                <span class="ml" class="material-icons red">delete_outline</span>
            </td>
          </tr>
        </tbody>
      </table>
</div>