.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background-color: #7bc6c3;
  color: #183736;
  border-radius: 10px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 50px;
  font-size: 16px !important;  
}

.dashboard-card-content-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px !important;
  margin-top: 50px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  font-size: 16px !important;
}

.circulo {
  border-radius: 50%; 
  background-color: #183736; 
  width: 150px; 
  height: 150px; 
  line-height: 150px; 
  color: #fff;
}

.circulo-level {
  border-radius: 50%; 
  background-color: #183736; 
  width: 150px; 
  height: 150px;
  color: #fff;
}

mat-card-title {
  font-size: 25px !important;
}

@media (max-width: 1200px) {
  .circulo-level {
    width: 100px;
    height: 100px;
  }

  .dashboard-card-content {
    padding: 50px 15px;
  }
}

@media (max-width: 850px) {
  .dashboard-card-content {
    flex-direction: column;
    align-items: center;
  }

  .dashboard-card-content {
    padding: 20px 15px;
  }

  .a {
    grid-area: a;
  }

  .b {
    grid-area: b;
  }

  .c{
    grid-area: c;
    margin: 0 auto;
  }

  .d{
    grid-area: d;    
  }

  .e{
    grid-area: e;
  }

  .grid-teste {
    display: grid !important;
    grid-template-areas: "a b c"
                          "d e f";
  }

  .grid-level {
    display: grid !important;
    grid-template-areas: "a b"
                         "c c";
  }
}